Repository quantum9Innovation/QuasarOS, pull requests merged in 2025-04, with the labels that each got.

#26 Feat: S2Idle Sleep
  configuration.nix
Labels: critical, hardware

#28 build(lock): update
  flake.lock
Labels: lock

#29 build(lock): update
  flake.lock
Labels: lock

#30 build(lock): update
  flake.lock
Labels: lock

#31 feat: overhaul nushell completions and configuration
  home.nix
  modules/config.nu
Labels: enhancement

#32 build(lock): update
  flake.lock
Labels: lock

#33 feat: use better fish path parser for nushell completions
  modules/config.nu
Labels: refactor

#34 build(lock): update
  flake.lock
Labels: lock

#36 build(lock): update
  flake.lock
Labels: lock

#37 build(lock): update
  flake.lock
Labels: lock

#38 build(lock): update
  flake.lock
Labels: lock

#39 build(lock): update
  flake.lock
Labels: lock

#40 build(lock): update
  flake.lock
Labels: lock

#41 build(lock): update
  flake.lock
Labels: lock

#42 build(lock): update
  flake.lock
Labels: lock

#44 build(lock): update
  flake.lock
Labels: lock
